@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body header {
  height: 100vh;
  background-color: #E9DED4;
}
body header .head-bg {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body header .head-bg .ell {
  position: relative;
  top: -12%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease;
}
body header .head-bg .ell .ellips-wrapper {
  position: absolute;
  margin: 0 2.2vw;
  width: 43vw;
  height: 43vw;
  background-image: url("../source/ellipse-text.png"), url("../source/ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-size: 50vw, contain;
  transition: all 0.5s ease;
}
body header .head-bg .city {
  pointer-events: none;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70%;
  width: 100%;
  transition: height 0.5s ease;
  filter: drop-shadow(0px -8px 0 #FFFFFF) drop-shadow(-8px 0px 0 #FFFFFF) drop-shadow(8px 3px 0 #FFFFFF);
}
body header .head-bg .paper {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-burn;
}
body main .bg-line {
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 5px 0px;
  height: 2em;
  margin: 0 auto;
  background-color: #F54932;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  color: #fff;
  transition: font-size 0.5s ease;
}
body main .bg-line .run-line-wrapper {
  display: flex;
}
body main .bg-line .run-item {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  body header .head-bg .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head-bg .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head-bg .city {
    height: 30%; /* высота на мобильных устройствах */
    width: auto;
  }
  body main .bg-line {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body header .head-bg .ell {
    justify-content: flex-end;
    align-items: flex-end;
  }
  body header .head-bg .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 60vw;
    height: 60vw;
    background-size: 70vw, contain;
  }
  body header .head-bg .city {
    height: 50%; /* высота на планшетах */
    width: auto;
  }
  body main .bg-line {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body header .head-bg .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head-bg .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head-bg .city {
    height: 60%; /* высота на больших планшетах и небольших мониторах */
    width: auto;
  }
  body main .bg-line {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=main.css.map */