@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body header {
  height: 100vh;
  background-color: #E9DED4;
}
body header .head {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body header .head .header-main-content {
  z-index: 4;
  position: relative;
  width: 50vw;
  height: 100vh;
}
body header .head .header-main-content .header-wrap {
  width: 37vw;
  padding-left: 4.8vw;
}
body header .head .header-main-content .header-wrap .logo {
  pointer-events: none;
  display: flex;
  justify-content: left;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body header .head .header-main-content .header-wrap p {
  color: #595653;
  text-transform: uppercase;
  margin-left: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info {
  margin-top: 8vh;
}
body header .head .header-main-content .header-wrap .main-info h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 3.8em;
  font-style: normal;
  color: #313131;
  text-transform: uppercase;
}
body header .head .header-main-content .header-wrap .main-info h1 span {
  display: block;
}
body header .head .header-main-content .header-wrap .main-info h1 .left-text {
  text-align: left;
}
body header .head .header-main-content .header-wrap .main-info h1 .right-text {
  text-align: right;
}
body header .head .header-main-content .header-wrap .main-info h1 .right-text .center {
  text-align: center;
}
body header .head .header-main-content .header-wrap .main-info p {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  font-size: 1.25em;
  color: #313131;
}
body header .head .header-main-content .header-wrap .main-info .btns {
  display: flex;
  justify-content: space-between;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-align: center;
  font-size: 1em;
  margin-top: 6vh;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
  z-index: 2;
  width: 50%;
  border: 2px solid #1F1F1F;
  border-radius: 66px;
  padding: 20px 60px;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.2s ease;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
  color: white;
  background-color: #1F1F1F;
  margin-right: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
  color: #1F1F1F;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
  color: #1F1F1F;
  background-color: transparent;
  margin-left: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-2:hover {
  border: 2px solid #1F1F1F;
  background-color: #1F1F1F;
  color: white;
}
body header .head .ell {
  position: relative;
  top: -12%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
body header .head .ell .ellips-wrapper {
  position: absolute;
  margin: 0 2.2vw;
  width: 43vw;
  height: 43vw;
  background-image: url("../source/ellipse-text.png"), url("../source/ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-size: 50vw, contain;
}
body header .head .city {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70%;
  width: 100%;
  transition: height 0.5s ease;
  filter: drop-shadow(0px -8px 0 #FFFFFF) drop-shadow(-8px 0px 0 #FFFFFF) drop-shadow(8px 3px 0 #FFFFFF);
}
body header .head .paper {
  pointer-events: none;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-burn;
}
body header .head .chess-wrapper {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body header .head .chess-wrapper img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .head .chess-wrapper .ft-chess {
  width: 15vw;
  z-index: 7;
  transform: rotate(-3deg);
  margin-top: 50vh;
}
body header .head .chess-wrapper .m-chess {
  width: 7vw;
  z-index: 7;
  margin-top: 55vh;
  margin-left: 2vw;
}
body header .head .chess-wrapper .tl-chess {
  width: 9vw;
  z-index: 0;
  transform: rotate(-6deg);
  margin-left: 2vw;
  margin-bottom: 13vh;
}
body header .head .chess-wrapper .tr-chess {
  width: 10vw;
  z-index: 0;
  transform: rotate(4deg);
  margin-bottom: 50vh;
  margin-left: 2vw;
}
body .bg-line {
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 10px 0px;
  height: 2em;
  margin: 0 auto;
  background-color: #F54932;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  transition: font-size 0.5s ease;
}
body .bg-line .run-line-wrapper {
  display: flex;
}
body .bg-line .run-item {
  font-size: 1.5em;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
body main {
  margin-top: 14vh;
  padding: 0 4.5vw;
}
body main h2 {
  width: 55.3%;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 2.25em;
  font-style: normal;
  color: #313131;
  text-transform: uppercase;
}
body main h2 span {
  font-weight: 700;
  color: #F54932;
}
body main .support {
  width: 100%;
  margin-bottom: 12.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .support img {
  width: 28.7%;
  border-radius: 50%;
}
body main .session-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20vh;
}
body main .session-content img {
  width: 34.4%;
  height: 100%;
}
body main .session-content .session-info {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2.7em;
}
body main .session-content .session-info h2 {
  width: 100%;
}
body main .session-content .session-info .event-table, body main .session-content .session-info p {
  text-align: left;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: left;
  font-size: 1.2em;
  color: #313131;
}
body main .session-content .session-info .event-table tr td:nth-child(2), body main .session-content .session-info p tr td:nth-child(2) {
  font-weight: 600;
}
body main .session-content .session-info del {
  color: red;
}
body main .session-content .session-info del span {
  color: #313131;
}
body main .session-content .session-info .event-table {
  border-collapse: collapse;
  width: 100%;
}
body main .session-content .session-info .event-table td {
  border: 2px solid #D0D0D0;
  padding: 16px;
}
body main .session-content .session-info .event-table td:first-child {
  padding-left: 0;
  width: auto;
}
body main .session-content .session-info .event-table td:last-child {
  width: 60%;
}
body main .session-content .session-info .event-table tr:first-child td {
  border-top: none;
}
body main .session-content .session-info .event-table tr:last-child td {
  border-bottom: none;
}
body main .session-content .session-info .event-table tr td:first-child {
  border-left: none;
}
body main .session-content .session-info .event-table tr td:last-child {
  border-right: none;
}
body main .session-content .session-info p {
  color: #3057A2;
}
body main .stages-content {
  margin-bottom: 20vh;
}
body main .stages-content .text-wrap {
  width: 50vw;
  margin-bottom: 7vh;
}
body main .stages-content .text-wrap h1 {
  display: inline;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.4em;
  color: #313131;
  padding-right: 1vw;
  text-transform: uppercase;
}
body main .stages-content .text-wrap p {
  display: inline-block;
  width: 35%;
  line-height: 120%;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #3057A2;
  font-size: 1.3em;
  word-wrap: break-word;
}
body main .card-stages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
body main .card-stages .card {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-image: url("/source/card-paper.png");
  padding: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}
body main .card-stages .card .card-number {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 16px;
  flex-shrink: 0;
}
body main .card-stages .card div {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  color: #313131;
  font-size: 20px;
}
body main .card-stages .card img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}
body main .card-stages .card-1,
body main .card-stages .card-2,
body main .card-stages .card-4,
body main .card-stages .card-5 {
  grid-column: span 1;
}
body main .card-stages .card-3,
body main .card-stages .card-6 {
  grid-row: span 2;
}
body main .card-stages .card-7 {
  grid-column: span 2;
  grid-row: span 2;
}
body main .card-stages .card-7 .card-text {
  width: 50%;
}
body main .navigation-card {
  display: none;
}

@media only screen and (max-width: 600px) {
  body header .head {
    flex-direction: column;
  }
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap {
    width: 100%;
    padding-left: 4.8vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head .city {
    height: 30%;
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 26vw;
    margin-bottom: 0vh;
    margin-top: 20vh;
    margin-left: 6vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 11vw;
    margin-top: 24vh;
    margin-left: 5vw;
    visibility: hidden;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 14vw;
    margin-left: 5vw;
    margin-bottom: 8vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 16vw;
    margin-top: -19vh;
    margin-bottom: 0vh;
    margin-left: -5vw;
  }
  body .bg-line {
    padding: 5px 0px;
  }
  body .bg-line .run-item {
    font-size: 1.1em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
  }
  body main .support img {
    width: 100%;
    border-radius: 50%;
  }
  body main .session-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20vh;
  }
  body main .session-content img {
    width: 100%;
    height: 100%;
  }
  body main .session-content .session-info {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  body main .session-content .session-info .event-table {
    display: none;
  }
  body main .session-content .session-info .event-table {
    display: table;
    width: 100%;
  }
  body main .session-content .session-info .event-table tr {
    display: block;
    margin-bottom: 10px;
  }
  body main .session-content .session-info .event-table td {
    display: block;
    border: none;
    padding: 0;
    padding-bottom: 10px;
  }
  body main .session-content .session-info .event-table tr td:last-child {
    border-bottom: 2px solid #D0D0D0;
  }
  body main .session-content .session-info .event-table td:first-child {
    margin-bottom: 5px;
  }
  body main .session-content .session-info .event-table td:last-child {
    width: 100%;
  }
  body main .session-content .session-info .event-table tr:last-child td {
    border-bottom: none;
  }
  body main .stages-content .text-wrap {
    width: 100vw;
  }
  body main .stages-content .text-wrap h1 {
    font-size: 2.1em;
  }
  body main .stages-content .text-wrap p {
    width: 100%;
    font-size: 1.1em;
  }
  body main .stages-content .card-stages {
    display: flex;
    overflow: hidden;
    gap: 0;
  }
  body main .stages-content .card-stages .airplane {
    z-index: 1;
    position: absolute;
    width: 90vw;
    transform: translateY(-20%);
  }
  body main .stages-content .card-stages .card {
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 15vh;
    padding-top: 62px;
    height: 38vh;
    width: 87.5%;
  }
  body main .stages-content .card-stages .card .card-row {
    display: flex;
    padding-bottom: 28px;
  }
  body main .stages-content .card-stages .card-1,
  body main .stages-content .card-stages .card-2,
  body main .stages-content .card-stages .card-3,
  body main .stages-content .card-stages .card-4,
  body main .stages-content .card-stages .card-5 {
    grid-column: span 1;
  }
  body main .stages-content .navigation-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  body main .stages-content .navigation-card .prev-button,
  body main .stages-content .navigation-card .next-button {
    margin: 0 10px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  body main .stages-content .navigation-card .prev-button.end,
  body main .stages-content .navigation-card .next-button.end {
    background-color: #D9D9D9;
  }
  body main .stages-content .navigation-card .dots {
    display: flex;
  }
  body main .stages-content .navigation-card .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #D9D9D9;
  }
  body main .stages-content .navigation-card .dots .dot.active {
    background-color: #313131;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body header .head {
    flex-direction: column;
  }
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap {
    width: 60%;
    padding-left: 4.8vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: flex-end;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 60vw;
    height: 60vw;
    background-size: 70vw, contain;
  }
  body header .head .city {
    height: 50%; /* высота на планшетах */
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 23vw;
    margin-bottom: 0vh;
    margin-top: 35vh;
    margin-left: 3vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 11vw;
    margin-top: 38vh;
    margin-left: 5vw;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 13vw;
    margin-left: 5vw;
    margin-bottom: 11vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 16vw;
    margin-top: -30vh;
    margin-bottom: 0vh;
    margin-left: -2vw;
  }
  body .bg-line {
    padding: 5px 0px;
  }
  body .bg-line .run-item {
    font-size: 1.2em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
  }
  body main .support img {
    width: 100%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head .city {
    height: 60%; /* высота на больших планшетах и небольших мониторах */
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 15vw;
    margin-bottom: 0vh;
    margin-top: 40vh;
    margin-left: 3vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 8vw;
    margin-top: 43vh;
    margin-left: 4vw;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 9vw;
    margin-left: 5vw;
    margin-bottom: 15vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 9vw;
    margin-top: 0vh;
    margin-bottom: 50vh;
    margin-left: 3vw;
  }
  body .bg-line .run-item {
    font-size: 1.3em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body main .support img {
    width: 60%;
    border-radius: 50%;
  }
}/*# sourceMappingURL=main.css.map */