@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body header {
  height: 100vh;
  background-color: #E9DED4;
}
body header .head {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body header .head .header-main-content {
  z-index: 4;
  position: relative;
  width: 50vw;
  height: 100vh;
}
body header .head .header-main-content .header-wrap {
  width: 37vw;
  padding-left: 4.8vw;
}
body header .head .header-main-content .header-wrap .logo {
  pointer-events: none;
  display: flex;
  justify-content: left;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body header .head .header-main-content .header-wrap p {
  color: #595653;
  text-transform: uppercase;
  margin-left: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info {
  margin-top: 8vh;
}
body header .head .header-main-content .header-wrap .main-info h1 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 3.8em;
  font-style: normal;
  color: #313131;
  text-transform: uppercase;
}
body header .head .header-main-content .header-wrap .main-info h1 span {
  display: block;
}
body header .head .header-main-content .header-wrap .main-info h1 .left-text {
  text-align: left;
}
body header .head .header-main-content .header-wrap .main-info h1 .right-text {
  text-align: right;
}
body header .head .header-main-content .header-wrap .main-info h1 .right-text .center {
  text-align: center;
}
body header .head .header-main-content .header-wrap .main-info p {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  font-size: 1.25em;
  color: #313131;
}
body header .head .header-main-content .header-wrap .main-info .btns {
  display: flex;
  justify-content: space-between;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  text-align: center;
  font-size: 1em;
  margin-top: 6vh;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
  z-index: 2;
  width: 50%;
  border: 2px solid #1F1F1F;
  border-radius: 66px;
  padding: 20px 60px;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.2s ease;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
  color: white;
  background-color: #1F1F1F;
  margin-right: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-1:hover {
  border: 2px solid #FBCE51;
  background-color: #FBCE51;
  color: #1F1F1F;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
  color: #1F1F1F;
  background-color: transparent;
  margin-left: 0.5em;
}
body header .head .header-main-content .header-wrap .main-info .btns .btn-2:hover {
  border: 2px solid #1F1F1F;
  background-color: #1F1F1F;
  color: white;
}
body header .head .ell {
  position: relative;
  top: -12%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
body header .head .ell .ellips-wrapper {
  position: absolute;
  margin: 0 2.2vw;
  width: 43vw;
  height: 43vw;
  background-image: url("../source/ellipse-text.png"), url("../source/ellipse.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-size: 50vw, contain;
}
body header .head .city {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70%;
  width: 100%;
  transition: height 0.5s ease;
  filter: drop-shadow(0px -8px 0 #FFFFFF) drop-shadow(-8px 0px 0 #FFFFFF) drop-shadow(8px 3px 0 #FFFFFF);
}
body header .head .paper {
  pointer-events: none;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-burn;
}
body header .head .chess-wrapper {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body header .head .chess-wrapper img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .head .chess-wrapper .ft-chess {
  width: 15vw;
  z-index: 7;
  transform: rotate(-3deg);
  margin-top: 50vh;
}
body header .head .chess-wrapper .m-chess {
  width: 7vw;
  z-index: 7;
  margin-top: 55vh;
  margin-left: 2vw;
}
body header .head .chess-wrapper .tl-chess {
  width: 9vw;
  z-index: 0;
  transform: rotate(-6deg);
  margin-left: 2vw;
  margin-bottom: 13vh;
}
body header .head .chess-wrapper .tr-chess {
  width: 10vw;
  z-index: 0;
  transform: rotate(4deg);
  margin-bottom: 50vh;
  margin-left: 2vw;
}
body .bg-line {
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 10px 0px;
  height: 2em;
  margin: 0 auto;
  background-color: #F54932;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  transition: font-size 0.5s ease;
}
body .bg-line .run-line-wrapper {
  display: flex;
}
body .bg-line .run-item {
  font-size: 1.5em;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
body main {
  margin-top: 14vh;
  padding: 0 4.5vw;
}
body main .support {
  width: 100%;
  margin-bottom: 12.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .support h2 {
  width: 55.3%;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 2.25em;
  font-style: normal;
  color: #313131;
  text-transform: uppercase;
}
body main .support h2 span {
  font-weight: 700;
  color: #F54932;
}
body main .support img {
  width: 28.7%;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  body header .head {
    flex-direction: column;
  }
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap {
    width: 100%;
    padding-left: 4.8vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head .city {
    height: 30%;
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 26vw;
    margin-bottom: 0vh;
    margin-top: 20vh;
    margin-left: 6vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 11vw;
    margin-top: 24vh;
    margin-left: 5vw;
    visibility: hidden;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 14vw;
    margin-left: 5vw;
    margin-bottom: 8vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 16vw;
    margin-top: -19vh;
    margin-bottom: 0vh;
    margin-left: -5vw;
  }
  body .bg-line {
    padding: 5px 0px;
  }
  body .bg-line .run-item {
    font-size: 1.1em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
  }
  body main .support h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support img {
    width: 100%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body header .head {
    flex-direction: column;
  }
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap {
    width: 60%;
    padding-left: 4.8vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: flex-end;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 60vw;
    height: 60vw;
    background-size: 70vw, contain;
  }
  body header .head .city {
    height: 50%; /* высота на планшетах */
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 23vw;
    margin-bottom: 0vh;
    margin-top: 35vh;
    margin-left: 3vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 11vw;
    margin-top: 38vh;
    margin-left: 5vw;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 13vw;
    margin-left: 5vw;
    margin-bottom: 11vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 16vw;
    margin-top: -30vh;
    margin-bottom: 0vh;
    margin-left: -2vw;
  }
  body .bg-line {
    padding: 5px 0px;
  }
  body .bg-line .run-item {
    font-size: 1.2em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: left;
  }
  body main .support h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support img {
    width: 100%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  body header .head .header-main-content {
    width: 100vw;
  }
  body header .head .header-main-content .header-wrap .main-info {
    margin-top: 4vh;
  }
  body header .head .header-main-content .header-wrap .main-info h1 {
    font-size: 2.25em;
  }
  body header .head .header-main-content .header-wrap .main-info p {
    width: 87%;
    font-size: 18px;
    text-align: left;
  }
  body header .head .header-main-content .header-wrap .main-info .btns {
    width: 90%;
    flex-direction: column;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1, body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    z-index: 3;
    width: 100%;
    padding: 18px 0;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-1 {
    margin-right: 0vw;
  }
  body header .head .header-main-content .header-wrap .main-info .btns .btn-2 {
    border: 2px solid white;
    color: #1F1F1F;
    background-color: white;
    margin-top: 2vh;
    margin-left: 0vw;
  }
  body header .head .ell {
    justify-content: center;
    align-items: flex-end;
  }
  body header .head .ell .ellips-wrapper {
    margin: 0 2.2vw;
    width: 300px;
    height: 300px;
    background-size: 350px, contain;
  }
  body header .head .city {
    height: 60%; /* высота на больших планшетах и небольших мониторах */
    width: auto;
  }
  body header .head .chess-wrapper .ft-chess {
    width: 15vw;
    margin-bottom: 0vh;
    margin-top: 40vh;
    margin-left: 3vw;
  }
  body header .head .chess-wrapper .m-chess {
    width: 8vw;
    margin-top: 43vh;
    margin-left: 4vw;
  }
  body header .head .chess-wrapper .tl-chess {
    width: 9vw;
    margin-left: 5vw;
    margin-bottom: 15vh;
  }
  body header .head .chess-wrapper .tr-chess {
    width: 9vw;
    margin-top: 0vh;
    margin-bottom: 50vh;
    margin-left: 3vw;
  }
  body .bg-line .run-item {
    font-size: 1.3em;
  }
  body main {
    margin-top: 7vh;
    padding: 0 6vw;
  }
  body main .support {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body main .support h2 {
    width: 100%;
    font-size: 1.8em;
  }
  body main .support img {
    width: 60%;
    border-radius: 50%;
  }
}/*# sourceMappingURL=main.css.map */